.menu__item {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item--active .menu__link {
    color: #DFB56D;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #DFB56D;
}