.pager {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pager__display {
    margin-right: 26px;
}

.pager__list {
    display: flex;
    align-items: center;
}

.pager__item {
    text-align: center;
}

.pager__item--active .pager__link {
    background: #353538;
}

.pager__link:hover {
    background: #353538;
    transition: .3s;
}

.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
    /*z-index: 1;*/
}

/*.pager__link::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity .3s;
    z-index: -1;
}

.pager__link:hover::after {
    opacity: 1;
    background: #353538;    
}*/


