.separator {
    min-height: 360px;
    background: #e5c288 url(../../../img/phone-n-hand.png) right 28% bottom 108% no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.separator__content {
    max-width: 45%;
}

.separator__content .section__title{
    margin-bottom: 0;
}