.socials {
    margin-right: 74px;
}

.socials__item {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: flex;
    text-decoration: none;
    width: 36px;
    height: 36px;
    position: relative;
}

.socials__item--icon--telegram .socials__link::after {
    content: "";
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url(../../../img/sprites.png) -122px -10px;
    transition: .3s;
}

.socials__item--icon--telegram .socials__link::before{
    content: "";
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url(../../../img/sprites.png) -122px -66px;
    opacity: 0;
    transition: .3s;
}

.socials__item--icon--vk .socials__link::after {
    content: "";
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url(../../../img/sprites.png) -10px -122px;
    transition: .3s;
}

.socials__item--icon--vk .socials__link::before {
    content: "";
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url(../../../img/sprites.png) -66px -122px;
    opacity: 0;
    transition: .3s;
}

.socials__item--icon--facebook .socials__link::after {
    content: "";
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url(../../../img/sprites.png) -10px -10px;
    transition: .3s;
}

.socials__item--icon--facebook .socials__link::before {
    content: "";
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url(../../../img/sprites.png) -66px -10px;
    opacity: 0;
    transition: .3s;
}

.socials__item--icon--instagram .socials__link::after {
    content: "";
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url(../../../img/sprites.png) -10px -66px;
    transition: .3s;
}
.socials__item--icon--instagram .socials__link::before {
    content: "";
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background: url(../../../img/sprites.png) -66px -66px;
    opacity: 0;
    transition: .3s;
}

.socials__link:hover::before {
    opacity: 1;
}

.socials__link:hover::after {
    opacity: 0;
}

